.section {
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-shrink: 0;
}

.scroll {
    flex: 1;
    overflow-y: auto;
}

.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
    background: #8585ad;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #4c4cff;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;

    transform: scale(1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
}

.imageWrapper {
    position: relative;
}

.imageWrapper img {
    width: 240px;
    height: 120px;
    object-fit: contain;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}